.navbar-brand {
  font-family: "Roboto";
}

.container {
  background-color: rgb(76, 186, 234);
}

.joke-category {
  font-size: 15px;
  font-family: "Roboto";
}

.category-name {
  font-size: 12px;
  font-family: "Roboto";
}
